<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>preview</title>
  <style>
    html, body, #app {
      margin: 0;
      height: 100%;
    }
    #app {
      font-size: 14px;
      overflow: hidden;
    }
  </style>
</head>
<body>
<div id="app"></div>
<script type="importmap">
</script>
<script>
  // 处理需要执行的代码
  function handleEval(code) {
    // 移除历史脚本
    if (scriptElement) {
      scriptElement.remove();
    }
    // 创建新的脚本元素
    scriptElement = document.createElement("script");
    scriptElement.setAttribute("type", "module");
    scriptElement.innerHTML = code;
    // 插入到 body 中。
    document.body.appendChild(scriptElement);
  }

  let scriptElement = null;
  // 通过 message 传递需要执行的代码
  window.addEventListener("message", ({data}) => {
    const {type, code} = data;
    if (type === "eval") {
      handleEval(code);
    }
  });
  parent.postMessage({type: "preViewReady", data: messageFlag}, "*")
</script>
</body>
</html>